<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           ">

    <!-- Подстановка значений из application.properties -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:application.properties"/>
    </bean>

    <!-- Бины приложения -->
    <bean id="ioService" class="ru.otus.vivlev.service.ConsoleIOService"/>

    <bean id="questionDao" class="ru.otus.vivlev.dao.QuestionDaoCsv">
        <constructor-arg value="${questions.file}"/>
    </bean>

    <bean id="testProcess" class="ru.otus.vivlev.service.TestProcessImpl">
        <constructor-arg ref="ioService"/>
    </bean>

    <bean id="questionService" class="ru.otus.vivlev.service.QuestionServiceImpl">
        <constructor-arg ref="questionDao"/>
        <constructor-arg ref="ioService"/>
        <constructor-arg ref="testProcess"/>
        <constructor-arg value="${questions.count}"/>
        <constructor-arg value="${questions.pass-count}"/>
        <constructor-arg value="${app.shuffle-questions}"/>
    </bean>

</beans>
